<div
  data-o-key-id="{{storyListItem.id}}"
  data-o-type="object"
  data-l-key-name="a"
>
  <a href="{{pageAuthor.details.username}}/story/{{storyListItem.id}}">{{storyListItem.name}}</a>
  <button class="button" data-i-editable>Edit</button>
</div>