<div
  data-o-key-id="{{story.id}}"
  data-o-type="object"
  data-l-key-name="a"
>
  <a href="{{pageAuthor.details.username}}/story/{{story.id}}">{{story.name}}</a>
  <button class="button" data-i-editable>Edit</button>
</div>