{{#BaseRoute}}
  <div class="page">
    <h2 class="page__heading">Welcome to Adventure Story!</h2>
    {{#if currentUser}}
      <a class="button" href="/{{currentUser.details.username}}">Go to your stories</a>
    {{else}}
      <a class="button" href="/signup">Sign up!</a>
    {{/if}}
  </div>
{{/BaseRoute}}
{{#UsernameRoute}}
  <div
    class="page"
    data-o-type="object"
  >
    <h2 class="page__heading">Stories</h2>
    <div 
      data-o-key="stories"
      data-o-type="list"
    >
      {{#for storyListItem in data.stories}}
        {{> storyListItem storyListItem=storyListItem pageAuthor=@root.pageAuthor}}
      {{/for}}
    </div>
    <div class="flex justify-content--flex-end">
      <button 
        class="button"
        data-i-new="storyListItem"
      >Add Story</button>
    </div>
  </div>
{{/UsernameRoute}}