<div class="page page--wide">
  <div 
    class="story"
    data-o-type="object"
    data-o-key-id="{{currentItem.id}}"
  >
    {{#if parentItem.stories}}
      <div class="story__beginning-heading">In the beginning...</div>
    {{/if}}
    <div
      class="story__content"
      data-o-type="object"
      data-l-key-content
      data-i-editable="content(text-multi-line)"
    >{{currentItem.content}}</div>
  </div>
</div>


